# --- CONFIGURAÇÕES GERAIS ---
JWT_SECRET="segredo_super_secreto_gdash_2025"

# --- BANCO DE DADOS ---
DATABASE_URL="mongodb://localhost:27017/gdash_db?authSource=admin"

# --- INTEGRAÇÃO IA ---
GEMINI_API_KEY="SUA_CHAVE_AQUI"
GEMINI_MODEL_NAME="modelo_gemini"

# --- USUÁRIO PADRÃO ---
ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD="123456"

# --- RABBITMQ ---
RABBITMQ_DEFAULT_USER="user"
RABBITMQ_DEFAULT_PASS="password"
RABBITMQ_HOST="localhost"
RABBITMQ_URL="amqp://user:password@localhost:5672/"

# --- FRONTEND (Vite) ---
VITE_API_URL="http://localhost:3000/api"

API_URL="http://localhost:3000/api"