# Configs de Aplicação
JWT_SECRET="sua_chave_secreta_aqui"

GEMINI_API_KEY="sua_chave_de_api_aqui"
GEMINI_MODEL_NAME="modelo_exemplo"

# Admin
ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD="123456"

# URL MongoDB
DATABASE_URL="mongodb://localhost:27017/nome_do_banco_de_dados"