# Configs de Aplicação
JWT_SECRET="segredo_super_secreto_gdash_2025"
GEMINI_API_KEY="SUA_CHAVE_AQUI"

# Admin
ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD="123456"

# URL MongoDB
DATABASE_URL="mongodb://localhost:27017/gdash_db?authSource=admin"